CTP_CLIENT_ID=
CTP_CLIENT_SECRET=
CTP_PROJECT_KEY=
CTP_SCOPE=
CTP_REGION=europe-west1.gcp
MIN_CART_CENT_AMOUNT=1000
MIN_CART_CURRENCY=
# Used by connector:post-deploy when registering the Extension locally:
# CONNECT_SERVICE_URL=https://your-tunnel.example/service